@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #dfe9f5;
}

h1 {
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
}
.wrapper #content {
    height: 200px;
    font-size: 10pt;
    margin-top: 10px;
}

.wrapper #thumbnail-file {
    font-size: 10pt;
    margin-top: 10px;
}

.wrapper .dropdown-list {
    font-size: 10pt;
    margin-top: 10px;
}

.wrapper #checkbox {
    font-size: 10pt;
    margin-top: 10px;
}

.wrapper .input-container .input {
    padding: 12px;
    width: 270px;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    background: #e4e4e4;
    outline: none;
    font-size: 16px;
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

.message {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    visibility: hidden;
    font-weight: bold;
}
